.body_container {
    position: relative;
    height: 90vh;
    background-color: #0984e3;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.body_description-wrapper {
    width: 50%;
    color: #fff;
    justify-self: center;
}

.body_description-wrapper h1 {
    font-size: 70px;
    font-weight: 400;
}

.body_description-wrapper p {
    font-size: 25px;
}

.body_container label {
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 4px;
}

.register_input-wrapper {
    align-self: center;
    display: flex;
    border: 3px solid #fff;
    border-radius: 4px;
    width: 40%;
    justify-content: space-between;
    position: relative;
    top: 50px;
}

.register_input {
    outline: none;
    padding: 12px;
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    width: 300px;
}

.register_input::placeholder {
    color: #fff;
    font-size: 17px;
}

.register_link {
    color: #fff;
    text-decoration: none;
    border-left: 1px solid #fff;
    padding: 12px;
}