.register_container {
	display: flex;
	height: 100vh;
}

.register_links {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 20px;
	width: 30%;
	align-items: center;
	height: 100%;
	background-color: #0984e3;
	color: #fff;
}

.register_links h1 {
	font-size: 55px;
	font-weight: 400;
}

.newUserRegistration {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 50%;
}

.register_links h3 {
	font-size: 30px;
	text-align: start;
	line-height: 1.4em;
}

.register_links ul {
	padding: 20px 0;
	display: flex;
	text-align: start;
	justify-content: flex-start;
	width: 100%;
	
}

.register_links li {
	list-style: none;
	padding: 5px 0;
}

.register_links a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;

}

.register_links li:nth-child(2) {
	margin-left: 10px;
	border-bottom: 2px solid #fff;
}

/* form container */
.register_form-container {
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.register_form {
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	height: 50vh;
}

.register_form h1 {
	margin-left: 20px;
	font-weight: 400;
}

.register_inputs-container {
	display: flex;
	flex-direction: column;
}

.register_form input,
.register_form button {
	width: 300px;
	padding: 8px 10px;
	margin: 10px 0;
	margin-left: 20px;
	border: 1px solid lightgray;
	border-radius: 4px;
}

.register_form button {
	width: 300px;
	margin-left: 20px;
	background-color: #0984e3;
	border: none;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
	transition: all .3s ease;
}

.register_form button:hover {
	background-color: #005ba1;
}

.register_form p {
	font-size: 12px;
	margin-left: 20px;
}
